.login-s {
  padding-top: 10vh;
  .container {
    padding: 40px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.049);
    border-radius: 5px;
    background: $base_color2;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    gap: 10px;
    h2 {
      color: white;
      font-family: $main_font;
      font-size: 30px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .form-item {
    width: 100%;

    input {
      width: 100%;
      border: none;
      outline: none;
      border-radius: 5px;
      background: white;
      color: black;
      text-align: left;
      border-bottom: 2px solid black;
      border-right: 2px solid black;
      font-family: $main_font;
      font-size: larger;
      padding: 5px;
    }
  }
  .remember-box {
    margin: auto;
    font-family: $main_font;
    font-size: 15px;
    color: white;
    display: flex;
  }

  .remember-label {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 3px;
    font-family: $main_font;
  }
  .submit-button {
    @include main_button;
    width: 100%;
    font-size: 20px;
    padding: 5px 15px;
    border: 0;
    border-radius: 15px;
    color: black;
    background: $base_color;

    cursor: pointer;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-family: $main_font;
    border-radius: 5px;
  }

  .form-btns button:hover {
    background: $hover_color;
    color: white;
  }

  a {
    font-size: 20px;
    color: $base_color;
    font-family: $main_font;
  }

  a:hover {
    color: black;
  }

  p {
    text-align: center;
    font-size: 20px;
    font-family: $main_font;
    color: white;
  }
}
